@import "base/fonts";
@import "base/variables";
@import "base/reset";

.header-top {
  background-color: #139161;
  color: #fff;
  font-size: 0.875rem;

  .container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 1.25rem;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
  }

  .lang-switcher {
    ul {
      display: flex;
      gap: 0.9375rem;

      li {
        a {
          font-size: 1rem;
          line-height: 1.25rem;
          color: #fff;
          opacity: 0.65;
          transition: opacity 0.3s;

          &:hover {
            opacity: 1;
          }
        }

        &.active a {
          opacity: 1;
        }
      }
    }
  }

  .header-contacts {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    .socials {
      display: flex;
      align-items: center;
      gap: 0.625rem;

      a {
        display: flex;
        align-items: center;

        img {
          display: block;
          width: 1.25rem;
          height: 1.1875rem;
        }
      }
    }

    .phone {
      font-weight: 700;
      color: #fff;
      white-space: nowrap;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.main-header {
  background-color: #fff;
  padding: 0.75rem 0;
  border-bottom: 0.0625rem solid #eaeaea;

  .container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 1.25rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // Лого
  .logo {
    img {
      display: block;
      height: 2.5rem;
    }
  }

  .nav-menu {
    flex: 1;
    display: flex;
    justify-content: center;

    ul {
      display: flex;
      gap: 2.2919rem;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        a {
          font-size: 0.875rem;
          line-height: 1.0419rem;
          color: #000000;
          font-weight: 500;
          text-decoration: none;
          transition: color 0.3s;

          &:hover {
            color: #257144;
          }
        }
      }
    }
  }

  .login-btn {
    a {
      display: inline-block;
      background-color: #fede2f;
      color: #55489d;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.25rem;
      padding: 0.7188rem 0.9063rem;
      border-radius: 0.375rem;
      text-decoration: none;
      transition: background-color 0.3s;

      &:hover {
        background-color: #e6c200;
      }
    }
  }
}

@media (max-width: 64rem) {
  .main-header {
    .nav-menu ul {
      gap: 1.5625rem;

      li a {
        font-size: 0.8438rem;
        line-height: 1rem;
      }
    }
  }
}

@media (max-width: 48rem) {
  .main-header {
    .nav-menu ul {
      gap: 1.125rem;

      li a {
        font-size: 0.8125rem;
        line-height: 0.9688rem;
      }
    }
  }

  .header-top {
    .lang-switcher ul {
      gap: 0.5rem;
    }

    .header-contacts {
      gap: 0.5rem;
    }
  }
}

@media (max-width: 43.625rem) {
  .main-header {
    .nav-menu,
    .login-btn {
      display: none;
    }

    .burger {
      display: block;
      cursor: pointer;

      svg {
        width: 1.75rem;
        height: 1.75rem;
      }
    }
  }
}

@media (max-width: 34.375rem) {
  .header-top {
    .header-contacts {
      .socials {
        display: none;
      }
    }
  }
}

.burger {
  display: none;
}

.alumni {
  background-image: url("../src/images/icons/alumnibg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding-top: 61px;
  min-height: 1000px;

  &__title {
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 41px;
    text-align: left;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    max-width: 100%;
    width: 416px;
    text-align: left;
  }

  @media (max-width: 62rem) {
    padding-top: 50px;
    min-height: 800px;

    &__title {
      font-size: 28px;
      margin-bottom: 32px;
    }

    &__text {
      font-size: 15px;
      width: 100%;
    }
  }

  @media (max-width: 48rem) {
    padding-top: 40px;
    min-height: 600px;

    &__title {
      font-size: 24px;
      margin-bottom: 24px;
    }

    &__text {
      font-size: 14px;
      width: 100%;
    }
  }

  @media (max-width: 30rem) {
    padding-top: 30px;
    min-height: 500px;

    &__title {
      font-size: 20px;
      margin-bottom: 16px;
    }

    &__text {
      font-size: 13px;
      width: 100%;
    }
  }
}

// alumni-flow

.alumni-flow {
  padding: 60px 20px;
  background: url("/src/images/icons/alumnibgimg.png") no-repeat center center;
  // background-size: cover;
  background-repeat: no-repeat;
  background-position: left 2px top 1px;

  .alumni-stream__btn {
    padding: 11px 35px 13px 35px;
    background-color: #aca6cf;
    border: 1px solid #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 88px;
    margin-top: 98px;

    &:hover {
      background-color: #ffffff;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 4.375rem;
    text-align: center;
    color: #54469d;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1100px;
    margin: 0 auto;
    gap: 1.9087rem;
    justify-content: center;
  }
}

.alumni-card {
  position: relative;
  width: 277px;
  border-radius: 24px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  &__toggle {
    display: none;
  }

  &__inner {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__front {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    transition: opacity 0.3s ease;
  }

  &__photo img {
    width: 100%;
    height: 348px;
    display: block;
  }

  &__info {
    background-color: #54469d;
    color: #fff;
    width: 100%;
    padding: 0.75rem;
    text-align: center;

    h3 {
      font-size: 1.1875rem;
      font-weight: 700;
      margin: 0;
    }

    p {
      font-weight: 350;
      font-size: 15px;
      letter-spacing: 2%;
      line-height: 22px;
      margin: 0;
    }
  }

  // задняя сторона с анимацией
  &__back {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #54469d;
    color: #fff;
    padding: 1.2rem;
    text-align: start;
    height: 100%;

    transform: translateY(100%); // изначально скрыта снизу
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;

    h3 {
      font-weight: 700;
      font-size: 19px;
      line-height: 30px;
    }
    h4 {
      font-weight: 350;
      font-size: 11px;
      line-height: 19px;
      border-top: 1px solid #fff;
    }
    p {
      font-weight: 800;
      font-size: 14px;
      line-height: 30px;
    }
    span {
      font-weight: 350;
      font-size: 14px;
      line-height: 30px;
    }
  }

  // переключение
  &__toggle:checked + &__inner {
    .alumni-card__front {
      opacity: 0;
      transition: opacity 0.4s ease;
    }

    .alumni-card__back {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
@media (max-width: 768px) {
  .alumni__conclusions {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 0 1rem;
  }

  .alumni-card {
    margin: 0 auto;
  }
}

.alumni__conclusions {
  width: 36.375rem;
  margin-top: 188px;
  margin-left: 45px;
  p {
    font-weight: 700;
    font-size: 1.5625rem;
    line-height: 150%;
    color: #4c4c4c;
  }
  @media (max-width: 904px) {
    max-width: 100%;
    font-weight: 500;
    font-size: 2px;
    margin-top: 175px;
    text-align: center;
   
  }
}

.alumni-flow__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media (max-width: 768px) {
    display: block;
    max-height: 150vh;   // ограничиваем высоту контейнера
    overflow-y: auto;   // только вертикальный скролл
    overflow-x: hidden; // запрещаем горизонтальный
    padding-right: 10px;
  }

  /* Стилизация вертикального скроллбара */
  @media (max-width: 768px) {
    &::-webkit-scrollbar {
      width: 20px; // толщина скролла
    }

    &::-webkit-scrollbar-thumb {
      background: #54469D;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-track {
      background-color: #d3d3d3;
      border-radius: 20px;
    }
  }
}
